{% extends 'pioner_gallery/base.html' %}

{% block content %}
    <style>
        .calendar {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .month {
            flex: 0 0 auto;
            width: 300px;
            border: 1px solid #ddd;
            margin-right: 1em;
            padding: 1em;
        }

        .day {
            border-top: 1px solid #ddd;
            padding: 0.5em 0;
        }

        .event {
            margin-top: 0.5em;
            text-decoration: none;
        }
    </style>

    <div id="calendar" class="calendar"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        const calendar = document.querySelector('#calendar');

        fetch('http://127.0.0.1:9005/calendar_data/')
            .then(response => response.json())
            .then(events => {
                const currentYear = new Date().getFullYear();

                for(let month = 0; month < 12; month++) {
                    const monthElement = document.createElement('div');
                    monthElement.classList.add('month');

                    const monthNameElement = document.createElement('h2');
                    monthNameElement.textContent = monthNames[month];
                    monthElement.appendChild(monthNameElement);

                    const firstDayOfMonth = new Date(currentYear, month, 1);
                    const lastDayOfMonth = new Date(currentYear, month + 1, 0);
                    let day = firstDayOfMonth;

                    while (day <= lastDayOfMonth) {
                        const dayElement = document.createElement('div');
                        dayElement.classList.add('day');
                        dayElement.textContent = day.getDate();

                        events.forEach(event => {
                            const eventStart = new Date(event.start);
                            const eventEnd = new Date(event.end);

                            if (eventStart <= day && day <= eventEnd) {
                                const eventElement = document.createElement('a');
                                eventElement.classList.add('event');
                                eventElement.href = event.url;
                                eventElement.textContent = event.title;
                                dayElement.appendChild(eventElement);
                            }
                        });

                        monthElement.appendChild(dayElement);

                        day.setDate(day.getDate() + 1);
                    }

                    calendar.appendChild(monthElement);
                }
            });
    </script>
{% endblock %}
