{% extends 'pioner_gallery/base.html' %}
{% load static %}

<!-- Bootstrap core CSS -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .btn-secondary {
        color: #f2777a !important;
    }

    .registration {
        color: #fff;
    }

    .centered {
        color: #fff;
        text-align: center !important;
    }

</style>
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <main class="form-signin">
                                    {{ message }}

<!--                {% if messages %}-->
<!--                {% for message in messages %}-->
<!--                <div class="alert alert-{{ message.tags }}" role="alert">-->
<!--                    {{ message }}-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--                {% endif %}-->

                <form method="post"> <!-- Add method="post" to the form to handle submission -->
                    {% csrf_token %} <!-- Add CSRF token for security -->
                    <img class="mb-4" src="{% static '/images/1stopshop.gif'%}" alt=""
                         style="width: 540px; height: auto;">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                    <div class="form-floating">
                        <input type="email" name="floatingInput" class="form-control" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="floatingPassword" class="form-control" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember-me" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    <p class="text-center">or</p>
                    <a href="{% url 'register_view' %}" class="w-100 btn btn-lg btn-outline-primary">Register</a>

                </form>
                {% if login_success %}
                <p class="text-danger">{{ login_success }}</p>
                {% endif %}
            </main>
        </div>
    </div>
</div>
{% endblock content %}
