{% extends 'pioner_gallery/base.html' %}
{% block content %}
{% load text_filter %}

    <div class="container py-4">

        <style>
            .bg-blur {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                filter: blur(2px);
                z-index: -1;
                background-size: cover;
                background-position: center;
            }
            .transparent-overlay {
                background-color: rgba(255, 255, 255, 0.8);
            }
        </style>

        <div class="row align-items-md-stretch">
            {% for article in articles %}
            <div class="col-md-6">
                <div class="h-100 p-5 position-relative rounded-3">
                    <div class="bg-blur" style="background-image: url('{{ article.thumbnail.url }}');"></div>
                    <div class="transparent-overlay rounded-3 p-3">
                        <h2>{{ article.title }}</h2>
<p>{{ article.content|strip_and_truncate:150 }}</p>
                                                  <a href="{% url 'details_article' article.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Read more...</button>
                            </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}